# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Chrome Extension specific
*.pem

# Build directories
dist/
build/

# IDE specific files
.vscode/
.idea/
.DS_Store